
body {
    background-color: white;
}

.bgGrey {
    background-color: var(--UI-grey);
}

/*Events Styles */

.Eventtext {
    margin: 20px;
    width: 50%;
    text-align: center;
    margin: 100px auto 100px auto;
}


.EventContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    position: relative;
    width: var(--width);
    flex-wrap: wrap;
    background: var(--UI-grey);
    padding-top: 3.25rem;
}

header {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem;
}

.EventCategories {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

}
.EventCards {

    display: flex;
    flex-direction: column;

}
.EventCard {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr / 2fr;
    min-width: 400px;
    height: 200px;
    margin: 10px auto;
    padding: 20px;
}

.EventCard a {
    justify-self: end;
}

.Cardcontent {
    place-self: start start;
}

.Cardcontent h4 {
    text-align: start;
}

.datetime {
    grid-row: span 2;
    place-self: start center;
    text-align: start;
}

.readMore {
    place-self: end start;
}

.seeAllButton2 {
    margin: 1rem;
    text-align: center;
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border: 2px solid var(--Bussi);
    color: var(--Bussi);
    min-height: 56px;
    flex-basis: 48px auto;
    flex-grow: 100px;
    font-weight: bold;
}

.waveTyrskyUpsideDown {
    transform: rotate(180deg);
    -webkit-mask-image: url("/waves/tyrsky.svg");
    mask-image: url("/waves/tyrsky.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 95px;
    margin-bottom:50px;

}
