* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}
.bold {
    font-weight: bold;
}

body {
    background-color: rgb(240, 240, 240);
}

h1, h2, h3 {
    font-size: 3rem;
}
.wrapper {
    min-width: 1050px;
    background-color: rgb(248, 248, 248);
    width: 80%;
    margin: 0 auto;
}
/* Navigation bar */

.navigation {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.navigation > p {
    font-size: 1.2rem;

}

.helsinkiLogo {
    max-width: 100px;
    min-width: 100px;
    margin: 10px;
}

.navItem {
    margin: 15px;
}

.dropdown > p, a {
    font-size: 1.2rem;
}
.dropbtn {
    margin: 15px;
    position: relative;
    bottom: 5px;
}

.dropbtn>img {
    position: relative;
    top: 7px;
    right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchIcon {
    margin-left: auto
}
/* Splash Image */

.splash {
    --splash-height: 500px;
    --splash-min-width: 1050px;
    height: var(--splash-height);
    min-width: var(--splash-min-width);
}

.splashImage {
    position: absolute;
    height: var(--splash-height);
    min-width: var(--splash-min-width);
    width: 80%;
}

.splashImage-overlay {
    position: absolute;
    height: var(--splash-height);
    min-width: var(--splash-min-width);
    width: 60%;
}

.overlayText {
    position: absolute;
    width: 35%;
    margin: 10%;
    width: 30%;
}

/* Content Cards */

.contentText {
    margin: 20px;
    width: 50%;
    text-align: center;
    margin: 36px auto;
}

.contentCards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.Card {
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 10px auto;
    padding: 20px;
    font-size: 1.2rem;
}

.Card > hr {
    width: 50%;
    margin: 0 auto;
    color: lightseagreen;
}
.cardIcon {
    height: 50px;
}
.readMore > a {
    position: relative;
    color: rgb(3, 3, 247);
}
.cardArrow {
    margin: 0 5px;
    color: blue;
    filter: invert(30%) sepia(55%) saturate(7412%) hue-rotate(230deg) brightness(96%) contrast(91%);
}

.seeAllButton {
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    background-color: blue;
    width: 20%;
    color: white;
}

/* Big images  */

.overlayImage {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    left: 60%;
    top: 7%;
    height: 400px;
    width: 400px;
    background-color: white;
    padding: 30px;
    font-size: 1.2rem;

}

.overlayImage2 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 10%;
    padding: 36px;
    height: 400px;
    width: 30%;
    background-color: pink;
    font-size: 1.2rem;
}

.eventsButton {
    padding: 10px;
    border: 2px solid black;
    margin-top: auto;
    width: 60%;
}

.squareImage {
    margin: 50px;
    position: absolute;
    left: 30%;
    height: var(--splash-height);
    min-width: 500px;
    width: 50%;
}

/* Quote carousel */

.quoteCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 5px solid black;
    margin: 10%;

}

/* Email Subscription box */

.emailSubscription {
    display: flex;
} 
.squareImage2 {
 width: 60%;
 height: 600px;
}
.subscriptionBox {
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
    padding: 50px;
    width: 40%;
    height: 600px;
}
.subscriptionBox > h3{
    font-size: 3rem;
}

.subscriptionBox > p{
    margin: 10px;
}

.subscriptionBox > form > input{
    margin: 10px;
    border: 2px solid black;
}

#emailInput {
    height: 2.5rem;
    width: 60%;
}

#yrittäjyydestäCheckbox{
    border: 2px solid black;

}

#tapahtumistaCheckbox