.filter-headline {
    font-weight: bold;
    padding-bottom: 25px;
}

.palvelu-filter {
    border: solid 2px var(--bussi);
    padding: 15px;
    margin: 20px;
    color: var(--bussi);
}

.palvelurajaus {
    padding: 20px;
}



.contentText {
    margin: 20px;
    width: 50%;
    text-align: center;
    margin: 36px auto;
}


/* Content Cards */
.contentCards {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Card {
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

.Card>hr {
    width: 50%;
    margin: 0 auto;
    color: var(--Kupari);
}

.cardIcon {
    height: 50px;
}

.readMore>a {
    position: relative;
    color: var(--bussi);
}

.cardArrow {
    margin: 0 5px;
    color: var(--bussi);
    filter: invert(30%) sepia(55%) saturate(7412%) hue-rotate(230deg) brightness(96%) contrast(91%);
}


/* hub stuff */
.overlayImageHub {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    height: 400px;
    width: 500px;
    background-color: white;
    padding: 30px;
    font-size: 1.2rem;
    left: 10vw;
    top: 50px;

}