
.palvelut-headline {
    font-weight: bold;
}

.palvelu-filter {
    border: solid 2px var(--bussi);
    padding: 15px;
    margin: 20px;
    color: var(--bussi);
}

.contentText {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    margin: 36px auto;
}

.palvelurajaus {
    display: flex;
    margin: 0 5px;
    justify-content: center;
    flex-direction: row;
}

.palvelu-filter {
    padding: 8px;

}

/* Content Cards */
.contentCards {
    padding: 5px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Card {
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

.Card>hr {
    width: 50%;
    margin: 0 auto;
    color: var(--Kupari);
}

.cardIcon {
    height: 50px;
}

.readMore>a {
    position: relative;
    color: var(--bussi);
}

.cardArrow {
    margin: 0 5px;
    color: var(--bussi);
    filter: invert(30%) sepia(55%) saturate(7412%) hue-rotate(230deg) brightness(96%) contrast(91%);
}


/* hub stuff */
.overlayImageHub {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 20%;
    padding: 36px;
    height: 400px;
    width: 500px;
    background-color: white;
    font-size: 1.1rem;
}

.hubEventsButton {
    color: var(--bussi);
    padding: 10px;
    border: 2px solid var(--bussi);
    margin-top: auto;
    width: 60%;
    text-align: center;
}

/* The other image box stuff*/
.overlayImageRight {
    background-color: var(--Kupari);
}
.eventsButton {
    text-align: center;
    padding: 10px;
    border: 2px solid #1a1a1a;
    margin-top: auto;
    width: 60%;
}


/* Newsletter subscription form styling (of death)*/

.emailSubscription {
    padding: 30px;
    background-color: white;
}

.subscriptionBox {
    position: relative;
    background-color: var(--engel);
    padding: 40px;
    width: 80%;
    height: 250px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    grid-gap: 10px;
}
.gridImg {
    grid-column: 1 / 2;
}

.gridFirst {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}
.tilaaHeader {
    font-size: 2rem;
}

.gridSecond {
    grid-column: 3 / 4;

}

#emailInput {
    height: 3.5rem;
    width: 50%;
    margin: 0;
}

#yrittäjyydestäCheckbox {
    border: 2px solid #1a1a1a;
    height: 20px;
    width: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 0;
}

#tapahtumistaCheckbox {
    border: 2px solid #1a1a1a;
    height: 20px;
    width: 20px;
    background-color: white;
    margin-left: 0;
}

/* The devilish submit button */

.demon {
    display: flex;
    position: absolute;
    right: 60px;
    top: 68px;
}

.submitButton {
    font-size: 1rem;
    text-align: center;
    text-justify: center;
    padding: 15px;
    border: 2px solid #1a1a1a;
    background-color: var(--engel);
    width: 100%;
    height: 3.5rem;
    float: right;
}

/* Palvelut2 pages stylings below */



.ajanvaraus {
    margin: 20px;
    padding-bottom: 100px;
}

.varaus-link {
    border: solid 2px var(--bussi);
    padding: 20px;
    color: white;
    background-color: var(--bussi);
}

.waveVarina {
    -webkit-mask-image: url("/waves/varina.svg");
    mask-image: url("/waves/varina.svg");
    -webkit-mask-size: cover;
    mask-size: contain;
    bottom: 0;
    mask-repeat: repeat;
}

.timestableContainer {
    background-color: var(--UI-grey);
    padding: 60px;
}

.timestableContainer >h4 {
   font-weight: normal;
   text-align: center;
   letter-spacing: 1px;
   font-size: 20px;
}

.timestable {
    margin: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr;
    
}
.imgContainer{
    justify-items: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}
.imgContainer >img {
    float: right;
}
.timesContainer {
    padding-bottom: 50px;
}