* {
    --splash-height: 500px;
    --width: 1400px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.75rem;

}


a {
    color: black;
    text-decoration: none; /* no underline */
}


body {
    background-color: rgb(240, 240, 240);
}

h1, h2, h3 {
    margin-bottom: 16px;
    font-size: 2.5rem;
}
.wrapper {
    width: var(--width);
    background-color: white;
    margin: 0 auto;
}

.container:not(:last-of-type) {
    position: relative;
    height: var(--splash-height);
    width: var(--width);
    margin-bottom: 100px
}

.wideImage {
    position: absolute;
    height: var(--splash-height);
    width: var(--width);
}

.SVGdecoration {
    width: var(--width);
    margin-bottom: -11px;
}

.blueSVGColour{
    filter: invert(47%) sepia(84%) saturate(1321%) hue-rotate(131deg) brightness(109%) contrast(102%);
}
.lightGreySVGcolour {
    filter: invert(92%) sepia(3%) saturate(91%) hue-rotate(203deg) brightness(107%) contrast(96%);
}

.bold {
    font-weight: bold;
}

/* Navigation bar */

.navigation {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.navigation > p {
    font-size: 1.2rem;

}

.helsinkiLogo {
    max-width: 100px;
    min-width: 100px;
    margin: 10px;
}

.navItem {
    margin: 15px;
}

.dropdown > p, a {
    font-size: 1.2rem;
}
.dropbtn {
    margin: 15px;
    position: relative;
    bottom: 5px;
}

.dropbtn>img {
    position: relative;
    top: 7px;
    right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchIcon {
    margin-left: auto
}
/* Header image with diagonal swirl */

.headerWithDiagnalLine {
    height: var(--splash-height);
    width: var(--width);
}

.headerImage {
    position: absolute;
    height: var(--splash-height);
    width: var(--width);
}

.diagonal-overlay {
    position: absolute;
    height: var(--splash-height);
    width: 1000px;
}

.HeaderText {
    margin: 150px;
    position: absolute;
    min-width: 300px;
    width: 500px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.HeaderText > h1 {
    margin-bottom: 20px;

}

/* Content Cards */

.contentText {
    margin: 20px;
    width: 50%;
    text-align: center;
    margin: 36px auto;
}

.contentCards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.Card {
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 10px auto;
    padding: 20px;
    font-size: 1.2rem;
}

.Card > hr {
    width: 50%;
    margin: 0 auto;
    color: lightseagreen;
}
.cardIcon {
    height: 50px;
}
.readMore > a {
    position: relative;
    color: rgb(3, 3, 247);
}
.cardArrow {
    margin: 0 5px;
    color: blue;
    filter: invert(30%) sepia(55%) saturate(7412%) hue-rotate(230deg) brightness(96%) contrast(91%);
}

.seeAllButton {
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    background-color: blue;
    width: 20%;
    color: white;
}

/* Wide image with Text box on the right */

.overlayImageRight {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    left: 60%;
    top: 7%;
    height: 400px;
    width: 400px;
    background-color: white;
    padding: 30px;
    font-size: 1.2rem;

}


/* Square image with Text box on the left */

.overlayImageLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 10%;
    padding: 36px;
    height: 400px;
    width: 30%;
    background-color: pink;
    font-size: 1.1rem;
}

.eventsButton {
    padding: 10px;
    border: 2px solid black;
    margin-top: auto;
    width: 60%;
}

.squareImage {
    position: absolute;
    left: 35%;
    height: var(--splash-height);
    width: 700px;
}

/* Quote carousel */

.quoteCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 5px solid black;
    margin: 10%;

}

/* Email Subscription box */

.emailSubscription {
    display: flex;
} 
.squareImage60 {
 width: 60%;
 height: 500px;
}
.subscriptionBox {
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
    padding: 50px;
    width: 40%;
    height: 500px;
}
.subscriptionBox > h3{
    font-size: 3rem;
}

.subscriptionBox > p{
    font-size: 1.2rem;
    margin: 10px;
}

.subscriptionBox > form > input{
    margin: 10px;
    border: 2px solid black;
}

#emailInput {
    height: 2.5rem;
    width: 60%;
}

#yrittäjyydestäCheckbox{

}

#tapahtumistaCheckbox {
    
}

/* Big images 2  */

.squareImageLeft {
    position: absolute;
    margin-left: 100px;
    height: var(--splash-height);
    width: 700px;
}

.overlayImageRight {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    height: 400px;
    width: 500px;
    background-color: lightblue ;
    padding: 30px;
    font-size: 1.2rem;
    left: 50%;
    top: 50px;

}

.overlayImage4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 10%;
    padding: 36px;
    height: 400px;
    width: 30%;
    background-color: pink;
    font-size: 1.1rem;
}

/* map */

.textOverlayLeft {
    position: absolute;
    bottom: 200px;
    margin-left: 120px;
    width: 30%;
}

.map {
    border: 20px solid white;
    background-color: slategray;
    position: absolute;
    width: 500px;
    height: 450px;
    left: 800px;
    top: 100px
}