* {
    --splash-height: 500px;
    --width: 100%;

    --Kupari: #80EBD3;
    --UI-grey: #F6F6F8;
    --bussi: #0000bf;
    --suomenlinna: #fad1e3;
    --engel: #fff4BB;
    
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.75rem;

}


a {
    color: black;
    text-decoration: none;
    /* no underline */
}


body {
    background-color: rgb(240, 240, 240);
    font-size: 16px;
}

h1 {
    margin-bottom: 16px;
    font-size: 3.25rem;
    font-weight: bold;
}
h2 {

    margin-bottom: 16px;
    font-size: 2.25rem;
    font-weight: bold;
}
h3 {
    margin-bottom: 16px;
    font-size: 1.25rem;
    font-weight: bold;
}
/* Section name font */
h5 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
/* highlighted body text */
h6 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.wrapper {
    width: var(--width);
    max-width: 1400px;
    background-color: white;
    margin: 0 auto;

}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    height: var(--splash-height);
    width: var(--width);
    margin-bottom: 100px;
    overflow: hidden;
}

.wideImage {
    background-size: cover;
    background-position: center center;
    position: relative;
    height: var(--splash-height);
    min-width: 1400px;
    top: 28px;

}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.wavecontainer {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 28px;
    bottom: 28px;
}


.blueSVGColour {
    filter: invert(91%) sepia(11%) saturate(1467%) hue-rotate(103deg) brightness(99%) contrast(86%);
}

.lightGreySVGcolour {
    filter: invert(92%) sepia(3%) saturate(91%) hue-rotate(203deg) brightness(107%) contrast(96%);
}

.bold {
    font-weight: bold;
}

/* Basic stuff */
.wavemotif-loader {
    display: block;
    position: relative;
    width: 100%;
    padding: 25px 0;
    content: "ss";
}

/* Colors for wave motifs */
.waveKupari {
    background-color: var(--Kupari);
}

.waveUIGREY {
    background-color: var(--UI-grey);
}

.waveSuomenlinna {
    background-color: var(--suomenlinna);
}

/* Wave motifs */
.waveTyrsky {
    -webkit-mask-image: url("/waves/tyrsky.svg");
    mask-image: url("/waves/tyrsky.svg");
    -webkit-mask-size: cover;
    mask-size: cover;

}

.waveVarina {
    -webkit-mask-image: url("/waves/varina.svg");
    mask-image: url("/waves/varina.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    bottom: 50px;
}

.waveSyke {
    -webkit-mask-image: url("/waves/syke.svg");
    mask-image: url("/waves/syke.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 95px;
}

.waveSykeUpsidedown {
    transform: rotate(180deg);
    -webkit-mask-image: url("/waves/syke.svg");
    mask-image: url("/waves/syke.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 95px;
    margin-bottom: 100px;
}

.wavePulssi {
    -webkit-mask-image: url("/waves/pulssi.svg");
    mask-image: url("/waves/pulssi.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    bottom: 50px;
}

.wavePerus {
    -webkit-mask-image: url("/waves/perus.svg");
    mask-image: url("/waves/perus.svg");
    -webkit-mask-size: cover;
    mask-size: cover;

}

.wavePerusUpsidedown {
    transform: rotate(180deg);
    -webkit-mask-image: url("/waves/perus.svg");
    mask-image: url("/waves/perus.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 250px;
    bottom: 25px;
}

.waveTyyni {
    -webkit-mask-image: url("/waves/tyyni.svg");
    mask-image: url("/waves/tyyni.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    bottom: 25px;
}

/* Blockquote */


/* Blockquote stylized */
blockquote p {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #000;
    font-size:24px;
    font-weight: bold;
}
/* Spawning the "Quote mark" */
blockquote p:before {
    display: flex;
    flex-grow: 1;
    content:'“';
    padding: 0 15px;
    margin:0px;
    font-size:120px;
    color:var(--Kupari);
}
/* Title for quote */
blockquote header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.9rem;
    margin: 1rem;
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Cited person */
blockquote footer cite {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 0rem;
    margin: 0rem;
    font-weight: bold;
    font-style:normal;
    padding:0 110px;

}
/* Job title */
blockquote footer span {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 1.6rem 0;
    padding:0 110px;

}

/* Navigation bar */

.navigation {
    display: grid;
    grid-template-columns: 110px 1fr 100px 100px 200px 1fr 2fr 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "helsinkiLogo NewCo Palvelut Tapahtumat Oppaita Tietoa searchIcon langDropdown"
        ". . Palvelut-content . Oppaita-content Tietoa-content . langDropdown-content";
    grid-gap: 0 10px;
    justify-content: center;
    text-align: center;
}

#NewCo {
    grid-area: NewCo;
    align-self: center;
}

#Palvelut {
    grid-area: Palvelut;
    align-self: center;

}

#Palvelut-content {
    opacity: 0;
    grid-area: Palvelut-content;
}

#Palvelut:hover~#Palvelut-content {
    height: 200px;
    opacity: 1;
}

#Palvelut-content:hover {
    overflow: visible;
    height: 200px;
    opacity: 1;
}

#Tapahtumat {
    align-self: center;
    grid-area: Tapahtumat
}

#Oppaita {
    align-self: center;
    grid-area: Oppaita;
}

#Oppaita-content {
    opacity: 0;
    grid-area: Oppaita-content;
}

#Oppaita:hover~#Oppaita-content {
    height: 200px;
    opacity: 1;
}

#Oppaita-content:hover {
    height: 200px;
    opacity: 1;
}

#Tietoa {
    align-self: center;
    grid-area: Tietoa;
}

#Tietoa-content {
    opacity: 0;
    grid-area: Tietoa-content;
}

#Tietoa:hover~#Tietoa-content {
    height: 200px;
    opacity: 1;
}

#Tietoa-content:hover {
    height: 200px;
    opacity: 1;
}

#searchIcon {
    grid-area: searchIcon;
    justify-self: end;
    align-self: center;


}

#langDropdown {
    align-self: center;
    grid-area: langDropdown;
}

#langDropdown-content {
    opacity: 0;
    grid-area: langDropdown-content;
}

#langDropdown:hover~#langDropdown-content {
    height: 100px;
    opacity: 1;
}

.navigation>p {
    font-size: 1.2rem;

}

.helsinkiLogo {
    grid-area: helsinkiLogo;
    width: 100px;
    margin: 10px;

}

/*
.navItem {
    margin: 15px;
    text-align: center;
    display: flex;
    align-content: center;
}

.dropdown>p,
a {
    font-size: 1.2rem;
}

.dropbtn {
    margin: 15px;
    position: relative;
}

.dropbtn>img {
    position: relative;
    top: 7px;
    right: 8px;
} */

.dropdown-content {
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; */
}

/* .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.dropbtn:hover {
    border-bottom: 2px solid black;
}

.dropdown-content:hover~.dropbtn {
    border-bottom: 2px solid black;
}

.dropdown-content:hover {
    height: 200px;
}

.searchIcon {
    margin-left: auto;
    grid-area: searchIcon;
}

/* Header image with diagonal swirl */

.headerWithDiagnalLine {
    height: var(--splash-height);
    width: var(--width);
}


.diagonal-overlay {
    position: absolute;
    height: var(--splash-height);
    right: 10%;
    width: 100%;
}

.HeaderText {
    margin: 50px;
    position: absolute;
    margin-top: 10%;
    left: 5%;
    min-width: 300px;
    width: 500px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.HeaderText>h1 {
    margin-bottom: 20px;

}

/* Header image with downwards wave patern */

.pageTitleText {
    margin: 50px;
    position: absolute;
    margin-top: 5%;
    margin-right: 50%;
    min-width: 300px;
    width: 500px;
    line-height: 5rem;
}

.pageTitleText>h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}


/* Content Cards */

.contentText {
    margin: 20px;
    width: 50%;
    text-align: center;
    margin: 36px auto;
}

.contentCards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.Card {
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 10px auto;
    padding: 20px;
    font-size: 1.2rem;
}

.Card>hr {
    width: 50%;
    margin: 0 auto;
    color: var(--Kupari);
}

.cardIcon {
    height: 50px;
}

.readMore>a {
    position: relative;
    color: var(--bussi);
}

.cardArrow {
    margin: 0 5px;
    color: var(--bussi);
    filter: invert(30%) sepia(55%) saturate(7412%) hue-rotate(230deg) brightness(96%) contrast(91%);
}

.seeAllButton {
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    background-color: var(--bussi);
    width: 20%;
    color: white;
}



/* guideDownloads */

.guideTitle {
    background-color: var(--UI-grey);
    text-align: center;
    padding: 50px;
}

.guideDownloads {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--UI-grey);
}

.Guide {
    background-color: rgb(255, 255, 255);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 10px 10px;
    font-size: 1.2rem;
}

.guidePhoto {
    width: 100%;
    height: 225px;
}

.guideText {
    padding: 40px;
}

.downloadGuideButton {
    margin: 20px;
    padding: 15px;
    color: var(--bussi);
    border: 2px solid var(--bussi);
}

.downloadGuideButton>a {
    color: var(--bussi);
}

/* Wide image with Text box on the right */

.overlayImageLeft {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    left: 5%;
    height: 400px;
    width: 500px;
    background-color: var(--Kupari);
    padding: 30px;
    font-size: 1.2rem;
    top: 50px;

}


/* Square image with Text box on the left */

.overlayImageRight {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 20%;
    padding: 36px;
    height: 400px;
    width: 500px;
    background-color: var(--suomenlinna);
    font-size: 1.1rem;
}

.eventsButton {
    padding: 10px;
    border: 2px solid #1a1a1a;
    margin-top: auto;
    width: 60%;
}

.squareImageLeft {
    position: absolute;
    left: 5%;
    height: var(--splash-height);
    width: 700px;

}

/* Square image with Text box on the Right */

/* .overlayImageRight {
    element already defined
} */


.eventsButton {
    padding: 10px;
    border: 2px solid #1a1a1a;
    margin-top: auto;
    width: 60%;
}

.squareImageRight {
    position: absolute;
    margin-left: 10%;
    height: var(--splash-height);
    width: 700px;

}

/* Quote carousel */

.quoteCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: none;
    margin: 10%;
}

/* Email Subscription box */

.emailSubscription {
    display: flex;
}

.squareImage60 {
    position: relative;
    right: 20%;
    width: 1000px;
    height: 500px;
}

.subscriptionBox {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--engel);
    padding: 30px;
    width: 500px;
    height: 500px;
}

.subscriptionBox>h3 {
    font-size: 3rem;
}

.subscriptionBox>p {
    font-size: 1.2rem;
    margin: 10px;
}

.subscriptionBox>form>input {
    margin: 10px;
    border: 2px solid black;
}

#emailInput {
    height: 2.5rem;
    width: 60%;
}

#yrittäjyydestäCheckbox {}

#tapahtumistaCheckbox {}

/* Big images 2  */


.overlayImage4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 10%;
    padding: 36px;
    height: 400px;
    width: 30%;
    background-color: var(--suomenlinna);
}

/* map */

.mapcontainer {
    position: relative;
    height: 500px;
    background-color: var(--UI-grey);
}

.textOverlayLeft>p {
    margin-bottom: 20px;
}

.textOverlayLeft {
    position: absolute;
    left: 5%;
    width: 30%;
    height: 500px;
}

.map {
    border: 20px solid white;
    background-color: var(--UI-grey);
    position: absolute;
    top: 50px;
    right: 5%;
    height: 400px;
    width: 50%;
}

/* footer */
.footer {
    background-color: var(--Kupari);
    padding: 0rem;
}

.FooterWithoutMap {
    margin-top: 200px;
    background-color: var(--Kupari);
    padding: 0rem;
}

.footerbox {
    position: relative;
    bottom: 50%;
}

.footerbox>hr {
    width: 90%;
    text-align: right;
    margin-left: 5%
}

.footerText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.helsinkiLogoFooter {
    width: 150px;
}

.footerBox {
    line-height: 2.1rem;
}

.footerBox>img {
    margin: 0.2rem;
}

.svgIcon {
    width: 2rem;
}

.copyRight {
    font-size: 0.85rem;
    margin: 10px 5% 0 5%;
}

@media only screen and (max-width: 1130px) {

    .navigation {
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr minmax(200px, 3fr) 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "helsinkiLogo NewCo . searchIcon langDropdown"
            "Palvelut Tapahtumat Oppaita Tietoa langDropdown-content"
            "Palvelut-content . Oppaita-content Tietoa-content .";
        justify-items: center;
    }

    .navItem {
        margin: 0px;
    }


    .mapcontainer {
        height: 600px;
    }

    /* footer */

    .footerbox {

        bottom: 30%;
    }


}